.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.menuItem {
  display: inline-block;
}
.menuItem a {
  margin-right: 10px;
}
.menuItemActive {
  text-decoration: underline;
}
.menuContainer {
  margin: 10px 0;
}